<div class="footer-container row">
    <div class="col-md-6 col-sm-6">
      <div class="footer-logo">
        <img src="/assets/images/finanzasLogo.svg" alt="">
      </div>
      <div class="footer-txt">
        financial aid for growing businesses and start ups.
      </div>
    </div>
    <div class="col-md-2 col-sm-6 footer-content">
      <div class="footer-title">
        company
      </div>
      <div class="footer-txt">
        About Us
      </div>
      <div class="footer-txt">
        Partners
      </div>
      <div class="footer-txt">
        Blog
      </div>
    </div>
    <div class="col-md-2 col-sm-6 footer-content">
      <div class="footer-title">
        legal
      </div>
      <div class="footer-txt">
        Privacy
      </div>
      <div class="footer-txt">
        Terms & Conditions
      </div>
    </div>
    <div class="col-md-2 col-sm-6 footer-content">
      <div class="footer-title">
        be social
      </div>
      <div class="footer-txt">
        <img src="/assets/icon/twitterIcon.svg" alt=""> Twitter
      </div>
      <div class="footer-txt">
        <img src="/assets/icon/linkedinIcon.svg" alt=""> LinkedIn
      </div>
      <div class="footer-txt">
        <img src="/assets/icon/instagram.svg" alt=""> Instagram
      </div>
    </div>
</div>
