<div class="login-body">
  <div class="logo-container">
    <img style="cursor: pointer;" routerLink="" src="./assets/images/finanzasLogo.svg" alt="">
  </div>
  <div class="login-form-container">
    <div class="login-form-title">
      Sign in to your account
    </div>
    <div class="login-form">
      <div class="form-input">
        <label class="form-label">Email address</label>
        <input type="email" name="email" class="input" />
      </div>
      <div class="form-input">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="input" />
      </div>
      <div class="form-footer">
        <div class="remember-me">
          <input type="checkbox" name="remember" class="form-checkbox" />
          <div style="margin-left: 10px;">Remember me</div>
        </div>
        <div class="forgot-password">
          Forgot password?
        </div>
      </div>
      <div class="form-button">
        <button class="green-btn form-btn">Log in</button>
      </div>
    </div>
    <div class="login-form-footer">
      Do not have an account?<span class="link">Create account</span>
    </div>
  </div>
</div>
