<div class="home-body">
  <section style="padding-top: 10px;" class="landing-view">
    <app-top-nav></app-top-nav>
    <div class="landing-banner">
      <div class="landing-view-content">
        <div class="content-title">
          Get capital for your next project
        </div>
        <div class="content-txt">
          Need funding for that idea in your head? we are here for you!
        </div>
        <div class="content-buttons">
          <button style="margin-right: 10px;" class="green-btn content-btn">Get Started</button>
          <button class="trans-btn content-btn">Learn more</button>
        </div>
      </div>
      <div style="position: relative;" class="landing-view-img">
        <div class="sphere">
          <img src="./assets/images/sphere.svg" class="sphere-img" alt="">
        </div>
        <div class="dotted-box">
          <img src="./assets/images/dottedbox.svg" class="dotted-img" alt="">
        </div>
        <div style="border-radius: 5px;" class="image-con">
          <img src="./assets/images/contentImg.png" loading="eager" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="help-view">
    <div class="rings">
      <img src="./assets/images/rings.svg" class="rings-img" alt="">
    </div>
    <div class="help-title">
      How we can help
    </div>
    <div class="cards-container">
      <div class="my-card">
        <img src="./assets/icon/cashIcon.svg" alt="*">
        <div class="card-title">
          Quick access to funds
        </div>
        <div class="card-txt">
          With Finanzas, you will have quick access to funds to get your business going in no time.
        </div>
      </div>
      <div class="my-card">
        <img src="./assets/icon/starsIcon.svg" alt="*">
        <div class="card-title">
          Top class service
        </div>
        <div class="card-txt">
          With Finanzas, you will have quick access to funds to get your business going in no time.
        </div>
      </div>
      <div class="my-card">
        <img src="./assets/icon/paidIcon.svg" alt="cash">
        <div class="card-title">
          Pay when you get paid
        </div>
        <div class="card-txt">
          Finanzas deducts a fixed percentage of your sales until the total owed is repaid.
        </div>
      </div>
    </div>
  </section>
  <section style="background: none; overflow: visible;" class="landing-view">
      <div style="margin: 0;" class="landing-banner">
        <div class="landing-view-content">
          <div style="margin-top: 160px;" class="content-title">
            Get your business on the go, do not let delayed payment stop you
          </div>
          <div style="text-align: left;" class="card-txt">
            With Finanzas, you will have quick access to funds to get your
            business going in no time. Your business ideas can be fully funded with just few steps.
            Payment would be made to you in few days with Finanzas.
          </div>
          <div style="text-align: left; display: flex; align-items: center;" class="card-txt">
            <a style="color: #00A859; margin-right: 13px;" href="">
              Let's begin
            </a>
            <svg style="cursor: pointer;" width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.56 11.3922C28.1788 11.2535 28.6511 10.5151 28.6511 9.62499C28.6511 8.73491 28.1788 7.99651 27.56 7.85773L19.0862 0.443083C18.3419 -0.208159 17.2106 -0.132739 16.5593 0.611537C15.9081 1.35581 15.9835 2.48711 16.7278 3.13835L22.0946 7.8343H1.30239C0.583141 7.8343 7.43866e-05 8.63601 7.43866e-05 9.62499C7.43866e-05 10.614 0.583141 11.4157 1.30239 11.4157H22.0946L16.7278 16.1116C15.9835 16.7629 15.9081 17.8942 16.5593 18.6384C17.2106 19.3827 18.3419 19.4581 19.0862 18.8069L27.56 11.3922Z" fill="#00A859"/>
            </svg>
          </div>
        </div>
        <div class="landing-view-img">
          <div class="sphere sphere2">
            <img src="./assets/images/sphere.svg" class="sphere-img" alt="">
          </div>
          <div style="border-radius: 5px;" class="image-con">
            <img src="./assets/images/contentImg2.png" alt="">
          </div>
        </div>
      </div>
  </section>
  <section class="landing-view short">
    <div>
      <div style="margin-top: 72px;" class="landing-banner">
        <div style="position: relative;" class="landing-view-img">
          <div class="dotted-box box2">
            <img src="./assets/images/dottedbox.svg" class="dotted-img" alt="">
          </div>
          <div style="border-radius: 5px;" class="image-con">
            <img loading="lazy" src="./assets/images/contentImg3.png" alt="">
          </div>
        </div>
        <div class="landing-view-content">
          <div style="margin-top: 270px;" class="content-title">
            Get your business paid in days
          </div>
          <div style="text-align: left;" class="card-txt">
            Your business ideas can be fully funded with just few steps.
            Payment would be made to you in few days with Finanzas.
            Your business ideas can be fully funded with just few steps.
            Payment would be made to you in few days with Finanzas.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <app-banner></app-banner>
  </section>
  <section>
    <div class="partners-container">
      <div class="partners-title">
        Our partners
      </div>
      <div class="partners-img">
        <img src="./assets/images/skyfire.svg" alt="">
        <img src="./assets/images/oneKiosk.svg" alt="">
      </div>
    </div>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
