$body-padding: 10.4vw !default;

.landing-view {
  background: rgba(0, 168, 89, 0.04);
  height: 100vh;
  max-height: 948px;
  min-height: 670px;
  position: relative;
  overflow: hidden;
  padding: 0 $body-padding;
}
a {
  text-decoration: none;
}
.sphere {
  position: absolute;
  z-index: -1;
  top: -2.625rem;
  left: -2.625rem;
}
.sphere.sphere2 {
  top: -2.625rem;
  right: -2.625rem;
  left: auto;
}
.sphere-img {
  width: 21.6vw;
  max-width: 200px;
}
.dotted-box {
  position: absolute;
  z-index: -1;
  bottom: -2.625rem;
  right: -2.625rem;
}
.dotted-box.box2 {
  left: -2.625rem;
  right: auto;
}
.dotted-img {
  width: 19.7vw;
  max-width: 200px;
}
.rings{
  position: absolute;
  z-index: -1;
  top: 25.2vh;
}
.rings-img {
  max-height: 400px;
}
.content-title {
  margin-top: 65px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  color: #000000;
}
.content-txt {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  color: #000000;
}
.content-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.content-btn {
  width: 160px;
  height: 55px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
img {
  max-width: 100%;
  height: auto;
}
.help-view {
  padding: 0 0 300px 0;
  height: auto;
  position: relative;
}
.help-title {
  padding-top: 10vh;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  color: #000000;
}
.cards-container {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;
  align-content: center;
  column-gap: 8vw;
  row-gap: 50px;
  padding: 0 9.4vw;
}
.my-card{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}
.card-txt {
  margin-top: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #707070;
}
.partners-container {
  padding: 0 $body-padding 18.4vh $body-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
.partners-img {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}
.image-con{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-device-width: 800px) {
  .landing-banner {
    flex-direction: column;
    margin-top: 30px;
  }
  .help-view{
    padding-bottom: 100px;
  }
  .dotted-box {
    bottom: -1.625rem;
    right: -1.625rem;
  }
  .dotted-box.box2 {
    left: -1.625rem;
    right: auto;
  }
  .sphere {
    top: -1.625rem;
    left: -1.625rem;
  }
  .sphere.sphere2 {
    top: -1.625rem;
    right: -1.625rem;
    left: auto;
  }
  .rings{
    top: 50.2vh;
  }
  .landing-view {
    max-height: 700px !important;
    padding: 10px 7.8vw 0 7.8vw !important;
  }
  .landing-view.short {
    max-height: 500px !important;
  }
  .content-title {
    font-size: 30px;
    margin-top: 0 !important;
  }
  .help-title {
    font-size: 30px;
  }
  .cards-container {
    margin-top: 60px;
  }
}
@media only screen and (max-device-width: 770px) {
  .landing-view-img {
    order: 1;
  }
  .image-con {
    max-height: 200px;
    overflow: hidden;
  }
  .image3 {
    max-height: 260px !important;
  }
  .landing-view-content {
    order: 2;
  }
  .help-title {
    font-size: 25px;
    line-height: 31px;
  }
  .card-title {
    font-size: 18px;
    line-height: 25px;
  }
  .card-txt {
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
  }
  .content-title {
    font-size: 22px;
    line-height: 31px;
  }
  .content-txt {
    font-size: 14px;
    line-height: 20px;
  }
  .partners-container {
    padding: 0 7.8vw 18.4vh 7.8vw !important;
  }
}
@media only screen and (min-device-height: 1000px) {
  .landing-view {
    height: 800px;
  }
}
