$body-padding: 10.4vw !default;

.landing-view {
  background: rgba(0, 168, 89, 0.04);
  height: auto;
  min-height: 684px;
  position: relative;
  overflow: hidden;
  padding: 0 $body-padding;
}
.rings{
  position: absolute;
  z-index: -1;
  top: 318px;
  left: 0;
}
.rings-img {
  max-height: 400px;
}
.sphere {
  position: absolute;
  z-index: -1;
  top: -2.625rem;
  right: -2.625rem;
}
.sphere-img {
  width: 21.6vw;
  max-width: 200px;
}
.landing-banner-about {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100vw;
  padding: 0 $body-padding;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-items: center;
}
.landing-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  text-align: left;
  color: #000000;
  max-width: 670px;
}
.landing-txt {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: #707070;
  max-width: 413px;
}
img {
  max-width: 100%;
  height: auto;
}


@media only screen and (max-device-width: 800px) {
  .rings{
    top: 188px;
  }
  .sphere {
    top: -1.625rem;
    right: -1.625rem;
  }
  .landing-banner-about {
    padding: 0 7.8vw;
  }
  .landing-banner {
    flex-direction: column;
    margin-top: 30px;
  }
  .landing-view {
    min-height: 500px;
    padding: 0 7.8vw;
    padding-bottom: 0 !important;
  }
  .landing-view.short {
    min-height: auto;
    max-height: 500px !important;
  }
  .landing-title {
    font-size: 30px;
    margin-top: 0 !important;
  }
  .banner-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-device-width: 770px) {
  .landing-view-img {
    order: 1;
  }
  .image-con {
    max-height: 200px;
    overflow: hidden;
  }
  .image3 {
    max-height: 260px !important;
  }
  .landing-view-content {
    order: 2;
  }
  .landing-title {
    font-size: 22px;
    line-height: 31px;
  }
  .landing-title-mobile-width {
    max-width: 260px !important;
  }
  .landing-txt-mobile-width {
    max-width: 290px !important;
  }
  .landing-txt{
    font-size: 14px;
    line-height: 20px;
  }
}

