<div class="about-us-body">
  <section style="padding-top: 10px;" class="landing-view">
    <app-top-nav [selected]="selectedPage"></app-top-nav>
    <div class="landing-banner-about">
      <div style="text-align: center;" class="landing-title landing-title-mobile-width">
        Providing quick access to funds for businesses in need.
      </div>
      <div style="text-align: center;" class="landing-txt landing-txt-mobile-width">
        With Finanzas, you will have quick access to funds to get your
        business going in no time. Your business ideas can be fully funded
        with just few steps. Payment would be made to you in few days with Finanzas.
      </div>
    </div>
  </section>
  <section style="background: none; position: relative; overflow: visible; height: auto; padding-top: 100px; padding-bottom: 120px;" class="landing-view">
    <div class="rings">
      <img src="./assets/images/rings.svg" class="rings-img" alt="">
    </div>
    <div>
      <div style="margin-top: 0;" class="landing-banner">
        <div class="landing-view-img">
          <img loading="lazy" src="./assets/images/aboutImg1.png" alt="">
        </div>
        <div class="landing-view-content">
          <div style="margin-top: 120px;" class="landing-title">
            Assisting businesses kick-off with ease
          </div>
          <div style="text-align: left; margin-bottom: 25px;" class="landing-txt">
            With Finanzas, you will have quick access to funds to get your
            business going in no time. Your business ideas can be fully funded
            with just few steps. Payment would be made to you in few days with Finanzas.
          </div>
          <div style="text-align: left; display: flex; align-items: center;" class="card-txt">
            <a style="color: #00A859; margin-right: 13px;" href="">
              Let's begin
            </a>
            <svg style="cursor: pointer;" width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.56 11.3922C28.1788 11.2535 28.6511 10.5151 28.6511 9.62499C28.6511 8.73491 28.1788 7.99651 27.56 7.85773L19.0862 0.443083C18.3419 -0.208159 17.2106 -0.132739 16.5593 0.611537C15.9081 1.35581 15.9835 2.48711 16.7278 3.13835L22.0946 7.8343H1.30239C0.583141 7.8343 7.43866e-05 8.63601 7.43866e-05 9.62499C7.43866e-05 10.614 0.583141 11.4157 1.30239 11.4157H22.0946L16.7278 16.1116C15.9835 16.7629 15.9081 17.8942 16.5593 18.6384C17.2106 19.3827 18.3419 19.4581 19.0862 18.8069L27.56 11.3922Z" fill="#00A859"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="background: none; overflow: visible; padding-top: 100px; padding-bottom: 120px;" class="landing-view">
    <div>
      <div style="margin: 0;" class="landing-banner">
        <div class="landing-view-content">
          <div style="margin-top: 160px;" class="landing-title">
            Our Mission and Strategy
          </div>
          <div style="text-align: left;" class="landing-txt">
            <span style="font-weight: 500; color: #000000">Mission</span> –
            to transform the Nigerian small-medium enterprise and make it as big as it can go.
          </div>
          <div style="text-align: left;" class="landing-txt">
            <span style="font-weight: 500; color: #000000">Strategy</span> –
            setting up strategic and trading relaions with the participants of the Nigerian small-medium market.
          </div>
        </div>
        <div class="landing-view-img">
          <div class="sphere">
            <img src="./assets/images/sphere.svg" class="sphere-img" alt="">
          </div>
          <img src="./assets/images/aboutImg2.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section>
    <app-banner></app-banner>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
